@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import "fonts";

@import "variants";

// sticky header/footer
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

